<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

    <header class="navbar">

        <h1 class="logo">Anthony</h1>

        <nav>

            <a href="/">Home</a>

            <a href="/#about">About</a>

            <a href="/#skills">Skills</a>

            <a href="/projects">Projects</a>

            <a href="/#contact">Contact</a>

        </nav>

    </header>


    <main>

        <section class="projects">

            <div class="section-title">

                <p>MY WORK</p>

                <h2>My Projects</h2>

            </div>


            <div class="project-card">

    <div class="project-icon">
        🧮
    </div>

    <div class="project-content">

        <h3>Basic Calculator</h3>

        <p>
            A Python calculator that handles user input,
            performs calculations, and validates incorrect input.
        </p>

        <span>Python</span>

        <a href="https://github.com/anthony201043/basic-calculator.git"
   class="project-button"
   target="_blank">
    View Project →
</a>

    </div>

</div>


                <div class="project-card">

    <div class="project-icon">
        📦
    </div>

    <div class="project-content">

        <h3>Inventory System</h3>

        <p>
            A Python inventory system that manages products,
            prices, stock levels, orders, tax, and receipts.
        </p>

        <span>Python</span>

        <a href="https://github.com/anthony201043/inventory-system.git"
   class="project-button"
   target="_blank">
    View Project →
</a>

    </div>

</div>


                <<div class="project-card">

    <div class="project-icon">
        ⭐
    </div>

    <div class="project-content">

        <h3>Review System</h3>

        <p>
            A Python program that collects customer reviews,
            ratings, and calculates average ratings.
        </p>

        <span>Python</span>

        <a href="https://github.com/anthony201043/Review-System.git"
   class="project-button"
   target="_blank">
    View Project →
</a>

    </div>

</div>


                <div class="project-card">

    <div class="project-icon">
        🔐
    </div>

    <div class="project-content">

        <h3>Login Website</h3>

        <p>
            A basic Flask website designed for user login
            and account creation.
        </p>

        <span>Flask</span>

        <a href="https://github.com/anthony201043/login-project"
   class="project-button"
   target="_blank">
    View Project →
</a>

    </div>

</div>

        </section>

    </main>

</body>

</html>